body {
    background-color: #121212;
    color: #E0E0E0;
    font-family: Arial, sans-serif;
}

#container {
    text-align: center;
    padding: 50px;
}

#score {
    font-size: 16pt;
    margin-bottom: 20px;
}

#buttons {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-auto-flow: column;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    margin: 0 auto 20px auto;
}

button {
    padding: 5px 40px;
    font-size: 28pt;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    button {
        padding: 5px 15px;
        font-size: 18pt;
    }
}

button:hover {
    background-color: #353535;
}

button:active {
    background-color: #555555;
}

#startQuiz, #replaySound {
    background-color: #BB86FC;
    margin: 2px;
    color: black;
}

#startQuiz:hover, #replaySound:hover {
    background-color: #a371e5;
}

button.correct {
    background-color: #00C853; /* Green */
}

button.incorrect {
    background-color: #D50000; /* Red */
}
